@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  text-decoration: none;
}

.button {
  border: 0.0625rem solid #000000;
  border-radius: 0.035rem;
  font-family: "Libre Baskerville", serif;
  cursor: pointer;
}
.button--sm {
  width: 4rem;
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 8px;
  color: white;
  background-image: linear-gradient(30deg, rgb(255, 208, 0), black);
  border-color: black;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--form {
  margin: 5px auto;
  border-radius: 10px;
  color: white;
  background-color: #000000;
  border-color: white;
  transition: transform 0.5s, background-color 0.8s;
}
.button--form:hover {
  background-image: linear-gradient(20deg, rgb(255, 208, 0), black);
  border-color: white;
  transition: transform 0.5s, background-color 0.8s;
  transform: scale(1.02);
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  transition: all 100ms;
}
.button--add:hover, .button--add:active {
  border-color: black;
  transform: scale(1.03);
}
.button--remove {
  background-image: linear-gradient(20deg, rgb(255, 208, 0), black);
  border-color: black;
  color: black;
}
.button--remove:hover, .button--remove:active {
  border-color: black;
  color: white;
  transform: scale(1.03);
}
.button--disabled {
  background-image: linear-gradient(white, white);
  border-color: gray;
  color: gray;
  transition: all 100ms;
  cursor: default;
}
.button--disabled:hover, .button--disabled:active {
  background-image: linear-gradient(20deg, rgb(255, 208, 0), black);
  border-color: black;
}

.card {
  width: 350px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  margin: 10px;
  text-align: center;
}
.card__image {
  height: 75%;
  width: 100%;
  border-radius: 5px;
  transition: transform 0.4s;
}
.card__title, .card__description, .card__price {
  margin: 15px 0;
}
.card__title {
  font-size: 20px;
  /* Set font size for title */
}
.card__price::before {
  content: "Precio: $ ";
}
.card:hover {
  cursor: pointer;
  background: rgba(27, 27, 27, 0.5);
}
.card:hover .card__image {
  transform: scale(1.06) rotate(-0.5deg);
}
.card .tooltip {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .card {
    width: calc(50% - 40px);
    /* Adjust width for smaller screens with 2 cards per row */
  }
}
@media screen and (max-width: 480px) {
  .card {
    width: calc(100% - 40px);
    /* Adjust width for smaller screens with 1 card per row */
  }
}
.slider {
  position: relative;
  height: 45vh;
  width: 300%;
  display: flex;
  animation: move-slide 18s ease-in-out infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: absolute;
  font-size: 2rem;
}
.slider__image {
  width: 100%;
  object-fit: fill;
  object-position: center;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  gap: 1vw;
  padding: 0.2vw;
  width: calc(100% - 0.4vw);
  font-family: "Libre Baskerville", serif;
  background-image: url("/images/bg1.jpg"), url("/proyecto-integrador/images/bg1.jpg");
  color: white;
}

.footer {
  grid-area: footer;
  background: rgba(27, 27, 27, 0.9);
  text-align: center;
  padding: 10px;
}

.contact__form {
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}
.contact__form .contactform {
  display: flex;
  flex-direction: column;
}
.contact__form .contactform input,
.contact__form .contactform textarea {
  width: 100%;
  margin: 5px 0 5px 0;
  padding: 5px;
  background: rgba(226, 221, 221, 0.966);
}
.contact__form .toast {
  position: absolute;
  top: 25%;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(-50%);
  color: red;
  padding: 10px;
  border-radius: 5px;
  display: none;
}

.productForm {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: 2px groove;
}
.productForm .form__group {
  margin-bottom: 20px;
}
.productForm .form__group .form__input {
  width: 100%;
  padding: 5px;
}
.productForm .form__group .form__input--textarea {
  height: 20vh;
  resize: none;
}
.productForm .form__group .form__input--file {
  width: 100%;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-image: linear-gradient(120deg, white, black, rgba(255, 255, 0, 0.637) 90%);
  border-radius: 8px;
}
.header__logo {
  width: 10%;
}
.header__carrito {
  width: 3.5%;
}
.header__carrito:hover {
  cursor: pointer;
}
.header__title {
  flex-grow: 1;
  text-align: center;
  font-size: 3.5vw;
}

.main {
  grid-area: main;
  display: grid;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
}
.main .section__title {
  font-size: 3vw;
  text-shadow: rgb(255, 255, 255) 1px 0 5px;
  text-align: center;
}
.main .section--products {
  /*  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main .section__mission-vision {
  margin: 0 auto;
  background: rgba(27, 27, 27, 0.5);
  border-radius: 10px;
  width: 80%;
}

.navbar {
  grid-area: navbar;
}
.navbar__menu {
  display: flex;
  font-size: 1.5rem;
  margin: 0 2vw;
  gap: 0.5vw;
}
.navbar__item {
  color: white;
}
.navbar__item--active {
  background: rgba(27, 27, 27, 0.5);
  border-radius: 5px;
  padding: 5px 0px;
}
.navbar__item:hover {
  background: rgba(27, 27, 27, 0.4);
  border-radius: 5px;
  padding: 5px 0;
  transition: background-color 0.3s, color 0.3s;
}

.section__title-mission-vision {
  background: rgba(27, 27, 27, 0.9);
  font-size: 32px;
  margin-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.section-paragraph {
  padding: 10px;
  font-size: 1rem;
}

ol {
  margin-left: 25px;
  padding-left: 15px;
}
ol li {
  margin-bottom: 10px;
}

.main__contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0.5vw;
  height: 100%;
}
.main__contact .contact__info {
  width: 85%;
  background: rgba(0, 0, 0, 0.7);
}
.main__contact .contact__info .contact__infocontainer {
  padding: 10px;
}
.main__contact .contact__info .contact__infocontainer .title__iframe {
  text-align: left;
  text-decoration: underline;
  margin-bottom: 10px;
}
.main__contact .contact__info .contact__infocontainer .iframe {
  border: none;
  width: 50vw;
  height: 50vh;
}
.main__contact .contact__formcontainer {
  padding: 10px;
  text-align: center;
}
.main__contact .title {
  text-align: center;
  padding: 5px;
}

.main__product {
  display: flex;
  justify-content: space-around;
}
.main__product .product {
  width: 60%;
}/*# sourceMappingURL=main.css.map */