@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a:visited,
a:link {
  text-decoration: none;
}

.button {
  border: 0.0625rem solid #000000;
  border-radius: 0.035rem;
  box-shadow: 1px 1px 4px -3px gray;
  cursor: pointer;
}
.button--sm {
  width: 6rem;
  padding: 0.125rem;
  font-size: 0.8rem;
}
.button--md {
  width: 9rem;
  padding: 0.25rem;
  font-size: 0.9rem;
}
.button--lg {
  width: 12rem;
  padding: 0.375rem;
  font-size: 1rem;
}
.button--add {
  background-image: linear-gradient(125deg, colorPrimary, colorSecondary, colorPrimary 65%);
  border-color: blue;
  color: blue;
  transition: all 400ms;
}
.button--add:hover, .button--add:active {
  background-image: linear-gradient(125deg, darkblue, blue, 65%);
  border-color: white;
}
.button--remove {
  background-image: linear-gradient(white, white);
  border-color: red;
  color: red;
  transition: all 400ms;
}
.button--remove:hover, .button--remove:active {
  background-image: linear-gradient(125deg, darkred, red, darkred 65%);
  border-color: white;
}
.button--disabled {
  background-image: linear-gradient(white, white);
  border-color: gray;
  color: gray;
  transition: all 300ms;
  cursor: default;
}
.button--disabled:hover, .button--disabled:active {
  background-image: linear-gradient(125deg, gray, red, gray 65%);
  border-color: white;
}

.card {
  height: 100%;
  width: 100%;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
  /*     &__intro {
      // height: fit-content;
       width: 23.5%;
      // padding: 5px;
      position: absolute;
      // box-sizing: border-box;
      // bottom: 250px;
      background: rgb(0, 0, 0, .5);
      // color: white;
      transition: .5s;
  } */
  /*    &__description,
  &__title {
      font-size: 20px;
      margin: 20px;
      visibility: hidden;
      opacity: 0;
  } */
  /*   &__title,
  &__description {
      text-align: center;
      padding: 8px;
      margin: 0;
  } */
  /*  &:hover &__intro {
      height: 100px;
      bottom: 100px;
      background: red;
  }
  &:hover &__description{
      opacity: 1;
      visibility: visible;
  }
  &:hover &__title{
      opacity: 1;
      visibility: visible;
  } */
}
.card__image {
  height: 85%;
  width: 100%;
  border-radius: 5px;
  transition: 0.4s;
}
.card:hover {
  cursor: pointer;
}
.card:hover .card__image {
  transform: scale(1.1) rotate(-0.5deg);
}
.card__price::before {
  content: "Precio: $ ";
}

.slider {
  position: relative;
  height: 40vh;
  width: 300%;
  display: flex;
  animation: move-slide 18s ease-in-out infinite;
}
.slider__one, .slider__two, .slider__three {
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__title {
  position: absolute;
  font-size: 2rem;
}
.slider__image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@keyframes move-slide {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -100%;
  }
  95% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

body {
  display: grid;
  grid-template-areas: "header" "main" "footer";
  gap: 1vw;
  padding: 0.2vw;
  width: calc(100% - 0.4vw);
  font-family: "Libre Baskerville", serif;
  background-image: url("/proyecto-integrador/images/bg.jpg");
  color: white;
}

.footer {
  grid-area: footer;
  background-color: #333;
  text-align: center;
  padding: 10px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-image: linear-gradient(125deg, white, black, rgb(238, 15, 15) 90%);
  border-radius: 10px;
}
.header__logo {
  width: 9%;
}
.header__carrito {
  width: 45px;
}
.header__title {
  flex-grow: 1;
  text-align: center;
  font-size: 3vw;
  text-shadow: rgb(224, 207, 207) 1px 0 10px;
}

.main {
  grid-area: main;
  display: grid;
}
.main .section {
  width: 100%;
}
.main .section--slider {
  overflow: hidden;
  height: 100%;
  border-radius: 10px;
}
.main .section__title {
  font-size: 3vw;
  text-shadow: rgb(224, 207, 207) 1px 0 10px;
  text-align: center;
}
.main .section--products {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0.5vw;
}

.navbar {
  grid-area: navbar;
  font-size: 20px;
}
.navbar__menu {
  display: flex;
  font-size: 1.5rem;
  margin: 0 2vw;
  gap: 0.5vw;
}
.navbar__item {
  color: white;
}/*# sourceMappingURL=main.css.map */