@use "../../styles/scss/variables" as var;

.about {
    width: var.$widthContent;
    font-size: 18px;

    &__section {
        height: max-content;
        padding: 1rem 0;

        h3 {
            margin-bottom: 0.5rem;
        }

        .img--mision {
            height: fit-content;
            width: 20%;
            margin: 0 0 0.25rem 1rem;
            float: right;
            border-radius: 0.75rem 0 0.75rem 0;
        }

        p {
            text-align: justify;
            margin: 10px
        }

        li {
            list-style: square;
            margin-left: 2vw;
        }

    }

    &__section--vision {

        .title__vision,
        .about__paragraph--vision {
            margin-left: 20vw;
        }

        ol {
            margin-left: 20vw;
        }

        .img--vision {
            float: left;
            width: 20%;
        }

    }

    .img--values {
        float: right;
        width: 12%;
    }


    @media (max-width: 650px) {

        .img--mision,
        .img--vision,
        .img--values {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 15px;
        }

        h3 {
            font-size: 1em;
            text-align: center;
        }

        p,
        li {
            font-size: 0.8em;
        }

        &__section--vision {

            ol,
            .title__vision,
            .about__paragraph--vision {
                margin-left: 0;
            }
        }

    }

    @media (min-width: 651px) {

        h3 {
            font-size: 1.3em;
        }

        p,
        li {
            font-size: 1.150em;
        }

        .img--mision,
        .img--vision,
        .img--values {
            width: 20%;
        }
    }
}