@use "../../../styles/scss/variables" as var;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    padding: 0.25rem 0.75rem 0 0.75rem;
    background-color: var.$colorBorderDarker;
    box-shadow: 0 0.10rem 0.4rem var.$colorFontLight;

    &__drawer-icon {
        svg {
            fill: var.$colorFontBasicWhite;
        }
    }

    &__items {
        a {
            color: var.$colorFontLight;
        }

        .active {
            color: var.$colorFontDarker;
            background-color: var.$colorBackgroundLighter;
        }

        :hover {
            color: var.$colorFontLight;
        }

    }

    &__shopping-cart {

        .carrito {
            fill: white;
        }

        &__icon-badge {
            svg {
                font-size: 1.4rem;
                fill: var.$colorBackgroundLighter;
            }

            span {
                color: var.$colorBackgroundLight;
                background-color: var.$colorBackgroundDarker;
            }
        }
    }

    @media (max-width: 650px) {
        &__items {
            display: none;
        }
    }

    @media (min-width: 651px) {
        &__drawer-icon {
            display: none;
        }
    }
}

.active {
    background-color: var.$colorBackgroundDisabled;
}