@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main__contact {

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5vw;
    height: 100%;

    .contact__info {
        width: 85%;
        background: rgba(0, 0, 0, 0.7);

        .contact__infocontainer {
            padding: 10px;

            .title__iframe {
                text-align: left;
                text-decoration: underline;
                margin-bottom: 10px;
            }

            .iframe {
                border: none;
                width: 50vw;
                height: 50vh;
            }

        }

    }

    .contact__formcontainer {
        padding: 10px;
        text-align: center;
    }

    .title {
        text-align: center;
        padding: 5px;
    }

}

/* Pantallas pequeñas (móviles) */
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .header__title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .navbar__menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .navbar__item {
        margin: 5px 0;
    }

    .contact__infocontainer,
    .contact__formcontainer {
        padding: 20px;
    }

    .contactinfo__item {
        margin-bottom: 10px;
    }

    .iframe {
        width: 100%;
        height: 300px;
        /* Ajusta la altura del mapa como desees */
    }

    .contactform {
        display: flex;
        flex-direction: column;
    }

    .contactform label,
    .contactform input,
    .contactform textarea,
    .contactform button {
        width: 100%;
        margin-bottom: 10px;
    }
}

/* Pantallas medianas y grandes (tablets y escritorios) */
@media (min-width: 769px) {
    .navbar {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
    }

    .navbar__menu {
        display: flex;
        list-style: none;
        padding: 0;
    }

    .navbar__item {
        margin-left: 20px;
    }

    .contact__infocontainer,
    .contact__formcontainer {
        max-width: 50%;
        /* Ancho máximo para los contenedores */
        margin: 0 auto;
        padding: 40px;
    }

    .contactinfo__item {
        margin-bottom: 20px;
    }

    .iframe {
        width: 100%;
        height: 400px;
        /* Ajusta la altura del mapa como desees */
    }

    .contactform {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .contactform label,
    .contactform input,
    .contactform textarea,
    .contactform button {
        width: 100%;
    }
}