@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.contact {
    min-height: 100vh;

    .main__contact {

        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 0.5vw;
        height: 100%;

        .contact__info {
            width: 100%;
            background: var.$textShadowBackground;
            border-radius: var.$boderRadiusPrimary;


            .contact__infocontainer {
                padding: 10px;
                text-align: var.$textAlignPrimaryProperty;

                .title__iframe {
                    text-align: left;
                    text-decoration: underline;
                    margin-bottom: 10px;
                }

                .iframe {
                    border: none;
                    width: 80%;
                    height: 60vh;
                    margin: 0 auto;
                }

            }

        }

        .title {
            text-align: var.$textAlignPrimaryProperty;
            padding: 5px;
        }

    }

}

@media (max-width: 768px) {

    .main__contact {
        display: flex;
        flex-direction: column;
    }

    .title__iframe {
        display: flex;
        justify-content: center;
    }
}