@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main__product {
    display: flex;
    flex-direction: column;
    align-items: center;

    .product {
        width: 60%;
    }
}

@media (max-width: 768px) {

    .main__product {
        align-items: flex-start;
    }

    .title__productForm {
        font-size: 22px;
        width: 340px;
        text-align: center;
    }
}


@media (min-width: 769px) {}