@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as typo;

$_padding: 0.2vw;

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 1vw;

    padding: $_padding;
    width: calc(100% - (2*$_padding));
    font-family: 'Libre Baskerville', serif;
    // background-image: url("/proyecto-integrador/images/bg1.jpg");
    // background-size: cover; 

    background-color: rgba(0, 0, 0, 0.7);
    color: white;
}