@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as typo;

$_padding: 0.2vw;

body {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    gap: 1vw;

    padding: $_padding;
    width: calc(100% - (2*$_padding));
    font-family: 'Libre Baskerville', serif;
    background-image: url("/proyecto-integrador/images/bg1.jpg");
    // background-size: cover; 
/* 
    linear-gradient(135deg, #0f147355 25%, transparent 25%) -23px 0/ 46px 46px,
        linear-gradient(225deg, #0f1473 25%, transparent 25%) -23px 0/ 46px 46px,
        linear-gradient(315deg, #0f147355 25%, transparent 25%) 0px 0/ 46px 46px,
        linear-gradient(45deg, #0f1473 25%, #dfdfe5 25%) 0px 0/ 46px 46px; */
    color: white;
}