@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.footer {
    grid-area: footer;

    background: rgb(27, 27, 27, .95);
    text-align: center;
    padding: 15px;
    border-radius: 10px;

    flex-shrink: 0;

}