@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.contact__form {

    background-color: var.$textShadowBackground;
    width: 100%;
    border-radius: var.$boderRadiusPrimary;

    .contactform {
        display: flex;
        flex-direction: column;
        padding: 10px;

        input,
        textarea {
            width: 100%;
            margin: 5px 0 5px 0;
            padding: 5px;
            background: var.$colorPrimary;
        }

        .input__error {
            padding: 0.125em;
            font-size: 0.65em;
            color: rgb(200, 10, 10);
        }

        .input__validate:focus:valid {
            border: none;
            outline: 1px solid green;
        }

        .input__validate:focus:invalid {
            border: none;
            outline: 1px solid rgb(200, 10, 10);
        }

    }

    .toast {
        color: var.$colorToastText;
        text-align: var.$textAlignPrimaryProperty;
        background-color: var.$textShadowBackground;
    }

    .toast-success {
        color: var.$colorToastTextSuccess;
    }

}


.productForm {

    padding: 10px;
    background-color: var.$textShadowBackground;
    border-radius: var.$boderRadiusPrimary;

    .form__group {
        margin-bottom: 20px;

        .form__input {
            width: 100%;
            padding: 5px;
        }

        .form__input--textarea {
            height: 20vh;
            resize: none;
        }

        .form__input--file {
            width: calc(100% - 160px);
        }

    }

    .form__group--checkbox {
        margin: 5px 0 10px 0;
    }

    .button__content {
        display: flex;
    }
}

@media (max-width: 768px) {

    .productForm {
        width: 91.5vw;
        margin: 10px;
    }

}