@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.contact__form {

    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;

    .contactform {
        display: flex;
        flex-direction: column;

        input,
        textarea {
            width: 100%;
            margin: 5px 0 5px 0;
            padding: 5px;
            background: rgba(194, 194, 194, 0.966);
        }

    }


    .toast {
        position: absolute;
        top: 25%;
        right: 10px;
        background-color: rgba(0, 0, 0, 0.7);
        transform: translateX(-50%);
        color: red;
        padding: 10px;
        border-radius: 5px;
        display: none;
    }
}