@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.contact__form {

    background-color: var.$textShadowBackground;
    width: 100%;
    border-radius: var.$boderRadiusPrimary;

    .contactform {
        display: flex;
        flex-direction: column;
        padding: 10px;

        input,
        textarea {
            width: 100%;
            margin: 5px 0 5px 0;
            padding: 5px;
            background: var.$colorPrimary;
        }

    }

    .toast {
        position: absolute;
        top: 25%;
        right: 10px;
        background-color: var.$textShadowBackground;
        transform: translateX(-50%);
        color: var.$colorToastText;
        padding: 10px;
        border-radius: 5px;
        display: none; 
    }

}

.productForm {

    padding: 10px;
    background-color: var.$textShadowBackground;
    border-radius: var.$boderRadiusPrimary;

    .form__group {
        margin-bottom: 20px;

        .form__input {
            width: 100%;
            padding: 5px;
        }

        .form__input--textarea {
            height: 20vh;
            resize: none;
        }

        .form__input--file {
            width: calc(100% - 160px);
        }

    }

    .form__group--checkbox {
        margin: 5px 0 10px 0;
    }

    .button__content {
        display: flex;
    }
}

@media (max-width: 768px) {

    .contact__form .toast {
        position: relative;
        top: 0px;
        right: -200px;
        transform: translateX(-40%);
        color: var.$colorToastText;

    }

    .productForm {
        width: 90vw;
        margin: 10px;
    }

}