@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.header {
    grid-area: header;

    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-image: linear-gradient(200deg, var.$ColorBackgroundHeader, var.$colorSecondary, var.$ColorBackgroundHeader 90%);
    /* background-image: url("/images/testbg.jpeg"),
            url("/proyecto-integrador/images/testbg.jpeg"); */
    border-radius: 8px;

    &__logo {
        width: 10%;
        color: white;
    }

    &__carrito {

        position: absolute;
        top: 0px;
        right: 10px;
        z-index: 0;
        width: 3.5%;

        &:hover {
            cursor: pointer;
        }
    }

    &__title {

        flex-grow: 1;
        text-align: var.$textAlignPrimaryProperty;
        font-size: 3.5vw;
        position: relative;
        z-index: 1;
    }


}


@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: stretch;
        // background-image: linear-gradient(110deg, var.$colorPrimary, var.$colorSecondary, var.$ColorBackgroundHeader 95%);
        background-image: linear-gradient(100deg, var.$ColorBackgroundHeader, var.$colorSecondary, var.$ColorBackgroundHeader 90%);
        /*  background-image: url("/images/testbg.jpeg"),
                url("/proyecto-integrador/images/testbg.jpeg"); */
        text-align: var.$textAlignPrimaryProperty;
    }

    .header__title {
        flex-direction: column;
        text-align: var.$textAlignPrimaryProperty;
        left: 20px;
        bottom: 30px;
        font-size: 28px;

    }

    .header__logo {
        width: 20%;
        height: 95px;
        margin-bottom: 5px;
    }

    .header__carrito {
        display: flex;
        height: 40px;
        width: 50px;
        top: 20px;
        left: 80%;
        transform: translateX(35%);
    }
}