@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main {
    grid-area: main;
    display: grid;


    .section {
        width: 100%;

        &--slider {
            overflow: hidden;
            /*  height: 100%;*/
            border-radius: var.$boderRadiusPrimary;
        }

        &__title {
            font-size: 3vw;
            text-shadow: var.$colorPrimary 1px 0 5px;
            text-align: var.$textAlignPrimaryProperty;
        }

        &--products {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__mission-vision {
            margin: 0 auto;
            background: var.$textShadowTitle;
            border-radius: var.$boderRadiusPrimary;
            width: 85%;
        }
    }
}

@media (max-width: 768px) {

    .section__title h3 {
        font-size: 35px;
    }
}