@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.main {
    grid-area: main;
    display: grid;


    .section {
        width: 100%;

        &--slider {
            overflow: hidden;
            border-radius: var.$boderRadiusPrimary;
        }

        &__title {
            font-size: 3vw;
            text-shadow: var.$colorPrimary 1px 0 5px;
            text-align: var.$textAlignPrimaryProperty;
        }


        #search {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            margin-right: 10px;
            width: 200px;
        }

        .search-btn {
            padding: 5px 10px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        .search-btn:hover {
            background-color: #0056b3;
        }

        &--products {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        &__mission-vision {
            margin: 0 auto;
            background: var.$textShadowTitle;
            border-radius: var.$boderRadiusPrimary;
            width: 85%;
        }
    }
}

@media (max-width: 768px) {

    .section__title h3 {
        font-size: 35px;
    }
}