@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar {
    grid-area: navbar;

    &__menu {
        display: flex;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 0 2vw;
        gap: 0.5vw;
        text-decoration: underline;
        color: var.$colorSecondary;

    }

    &__item {
        color: var.$colorSecondary;
        text-shadow: 1px 1px var.$colorPrimary;
    }


    &__item--active {
        background: rgba(168, 166, 166, 0.993);
        border-radius: 5px;
        padding: 5px 0px;
    }

    &__item:hover {
        background: rgba(168, 166, 166, 0.970);
        border-radius: 5px;
        padding: 5px 0;
        transition: background-color 0.3s, color 0.3s;
    }

}

@media (max-width: 768px) {

    .navbar__menu {
        justify-content: center;
        font-size: 1.3rem;
        gap: 2vw;
    }
}