@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.navbar {
    grid-area: navbar;

    &__menu {
        display: flex;
        font-size: 1.5rem;
        margin: 0 2vw;
        gap: 0.5vw;
        text-decoration: underline;
    }

    &__item {
        color: var.$colorPrimary;
    }


    &__item--active {
        background: rgb(27, 27, 27, .5);
        border-radius: 5px;
        padding: 5px 0px;
    }

    &__item:hover {
        background: rgb(27, 27, 27, .9);
        border-radius: 5px;
        padding: 5px 0;
        transition: background-color 0.3s, color 0.3s;
       
    }

}

@media (max-width: 768px) {

    .navbar__menu {
        justify-content: center;
        font-size: 1.3rem;
        gap: 2vw;
    }
}