@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.button {
    border: 0.0625rem solid var.$colorSecondary;
    border-radius: 0.035rem;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;

    &--sm {
        width: 4rem;
        padding: 5px;
        font-size: 0.80rem;
        border-radius: var.$boderRadiusPrimary;
        color: var.$colorPrimary;
        background-image: linear-gradient(30deg, var.$colorButtonOrange, var.$colorSecondary);

    }

    &--md {
        width: 9rem;
        padding: 0.25rem;
        font-size: 0.90rem;
    }

    &--form {
        margin: 5px auto;
        border-radius: var.$boderRadiusPrimary;
        color: var.$colorPrimary;
        background-color: var.$colorSecondary;
        border-color: var.$colorPrimary;
        transition: transform 0.5s, background-color 0.8s;

        &:hover {
            background-image: linear-gradient(10deg, var.$colorButtonOrange, var.$colorSecondary);
            border-color: var.$colorPrimary;
            transition: transform 0.5s, background-color 0.8s;
            transform: scale(1.02);
        }
    }

    &--lg {
        width: 12rem;
        padding: 0.375rem;
        font-size: 1rem;
    }

    &--add {
        // @include mix.button-default(rgb(0, 0, 0), rgb(207, 0, 0), white);
        transition: all 100ms;

        &:hover,
        &:active {
            transform: scale(1.03);
        }
    }

    &--remove {
        background-image: linear-gradient(20deg, var.$colorButtonOrange, var.$colorSecondary);
        border-color: var.$colorSecondary;
        color: var.$colorSecondary;

        &:hover,
        &:active {
            border-color: var.$colorSecondary;
            color: var.$colorPrimary;
            transform: scale(1.03);
        }
    }

    &--disabled {
        background-image: linear-gradient(var.$colorPrimary, var.$colorPrimary);
        border-color: var.$colorButtonDisabled;
        color: var.$colorButtonDisabled;
        transition: all 100ms;
        cursor: default;

        &:hover,x
        &:active {
            background-image: linear-gradient(20deg, var.$colorButtonOrange, var.$colorSecondary);
            border-color: var.$colorSecondary;
        }
    }

}