@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.button {
    border: 0.0625rem solid #000000;
    border-radius: 0.035rem;
    font-family: 'Libre Baskerville', serif;
    cursor: pointer;

    &--sm {
        width: 4rem;
        padding: 5px;
        font-size: 0.80rem;
        border-radius: 8px;
        color: white;
        background-image: linear-gradient(30deg, rgb(255, 208, 0), black);
        border-color: black;

    }

    &--md {
        width: 9rem;
        padding: 0.25rem;
        font-size: 0.90rem;
    }

    &--form {
        margin: 5px auto;
        border-radius: 10px;
        color: white;
        background-color: #000000;
        border-color: white;
        transition: transform 0.5s, background-color 0.8s;

        &:hover {
            background-image: linear-gradient(20deg, rgb(255, 208, 0), black);
            border-color: white;
            transition: transform 0.5s, background-color 0.8s;
            transform: scale(1.02);
        }
    }

    &--lg {
        width: 12rem;
        padding: 0.375rem;
        font-size: 1rem;
    }

    &--add {
        // @include mix.button-default(rgb(0, 0, 0), rgb(207, 0, 0), white);
        transition: all 100ms;

        &:hover,
        &:active {
            // background-image: linear-gradient(125deg, rgb(238, 238, 253), rgb(0, 0, 0), 75%);
            border-color: black;
            transform: scale(1.03);
        }
    }

    &--remove {
        // background-image: linear-gradient(10deg, rgb(0, 0, 0), rgb(255, 255, 255));
        background-image: linear-gradient(20deg, rgb(255, 208, 0), black);
        border-color: black;
        color: black;

        &:hover,
        &:active {
            border-color: black;
            color: white;
            transform: scale(1.03);
        }
    }

    &--disabled {
        background-image: linear-gradient(white, white);
        border-color: gray;
        color: gray;
        transition: all 100ms;
        cursor: default;

        &:hover,
        &:active {
            // background-image: linear-gradient(120deg, white, black, rgb(238, 15, 15) 80%);
            background-image: linear-gradient(20deg, rgb(255, 208, 0), black);
            border-color: black;
        }
    }

}
