@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;

.card {

    width: 350px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    margin: 10px;
    text-align: center;

    &__image {
        height: 75%;
        width: 100%;
        border-radius: 5px;
        transition: transform 0.4s;
    }

    &__title,
    &__description,
    &__price {
        margin: 15px 0;
    }

    &__title {
        font-size: 20px;
        /* Set font size for title */
    }

    &__price {

        &::before {
            content: "Precio: $ ";
        }
    }

    &:hover {
        cursor: pointer;
        background: rgb(27, 27, 27, .5);
    }

    &:hover &__image {
        transform: scale(1.06) rotate(-0.5deg);
    }

    .tooltip {
        position: relative;
        display: inline-block;
    }

}



@media screen and (max-width: 768px) {
    .card {
        width: calc(50% - 40px);
        /* Adjust width for smaller screens with 2 cards per row */
    }
}

@media screen and (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
        /* Adjust width for smaller screens with 1 card per row */
    }
}